.navBar {
    position: fixed;
    top: 5;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 0;
    background-color: white;
    box-shadow: 1px 1px 10px 1px black;

    &__link{
        text-decoration: none;
        color: #000;
        &__logo {
            span{
                font-weight: 1000;
                padding-left: 10px;
            }
        }
    }
    

    &__list {
        display: flex;
        gap: 20px;
        padding-right: 10px;
        list-style: none;
        li {
            a {
                text-decoration: none;
                color: #000;
            }
        }
    }
}