@use "../../component/General/varibles.scss" as*;

.projects{
        padding: 20px;

        &__header {
            padding: 40px 0px;
            font-size: 20px;
            font-weight: 200px;
        }

        &__list {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            column-gap: 15px;
            row-gap: 10px;
        }
}

@media(max-width:$mediomSize){
    .projects{
        
        &__list{
            grid-template-columns: 1fr 1fr;
        }
    }
}

@media (max-width:$smallSize){
    .projects{
        
        &__list{
            grid-template-columns: 1fr;
        }
    }
}