//helper included
@use "../helpers/mixin" as *;
//variables included
@use "../variables/variables" as*;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    position: fixed;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: $allWidth;
    height: 40px;
    background-color: white;
    box-shadow: 0px 1px 10px 0px rgb(0, 0, 0);

    div{
        padding-left: 10px;

        span{
            padding: 5px;
            font-weight: 1000;
            font-size: 20;
        }
    }

    ul {
        display: flex;
        padding-right: 20px;
        list-style: none;

        li {
            width: 60px;
        }

        li a {
            text-decoration: none;
            color: #000000;
        }
    } 
}
.header{
    position: relative;
    width: $allWidth;
    height: 700px;
    background: url(../assets/5.jpg) no-repeat center/cover;
    
    &__logo{
        position: absolute;
        top:50%;
        left: 45%;
        display: flex;
        align-items: center;
        justify-content: space-between;
       
        span{
            opacity: .6;
            padding: 15px;
            padding-right: 20px;
            background-color: #000000;
            color: white;
            font-size: 20px;
        }

        p {
            margin-left: 5px;
            font-size: 20px;
            font-weight: 1000;
        }
       
    }
}
.projectsMenu{
   @include centering();

    &__projectsHeader{
       @include headerDisplay();
    } 

    &__projectsList{
      @include screenBasedOrder($largeSize);

        &__element {
            width: $allWidth;
            position: relative;

            p{
                position: absolute;
                padding: 10px 20px;
                color: white;
                background-color: black;
                font-size: 15px;
            }

            img{
                width: $allWidth;
            }
        }
    }
}

.aboutSection {
    @include centering();


    &__header {
        @include headerDisplay();
    }

    &__explanation {
        padding-bottom: 15px;
        font-size: 15px;
    }

    &__aboutList {
        @include screenBasedOrder($largeSize);

        &__element {
            display: flex;
            flex-direction: column;
            width:$allWidth;

            img{
                width: $allWidth;
            }

            .name{
                padding-top: 10px;
                font-weight: 900;
            }

            .position{
                padding-top: 20px;
                font-size: 15px;
                font-weight: 800;
                color: rgb(144, 142, 142);
            }

            p{
                padding: 15px 0px;
                font-size: 15px;
            }
            
            button{
                border:0px;
                width: $allWidth;
                height:30px;
                background-color: rgb(240, 237, 237);
                
            }
        }
    }
}
.contactSection{
    @include centering();


    &__header{
        @include headerDisplay();
    }

    &__list{
        display: flex;
        flex-direction: column;

        input{
            margin: 10px 0px;
            border: 1px solid lightgray;
            border-radius: 5px;
            width: $allWidth;
            height:40px;
            padding: 0 10px;
        }
    }
}
@media (max-width : $mediomSize){
    .projectsMenu{
        &__projectsList{
            @include screenBasedOrder($mediomSize);
        }
    }

    .aboutSection{
        &__aboutList{
            @include screenBasedOrder($mediomSize);
        }
    }
}
@media (max-width : $smallSize){
    .projectsMenu{
        &__projectsList{
            @include screenBasedOrder($smallSize);
        }
    }

    .aboutSection{
        &__aboutList{
            @include screenBasedOrder($smallSize);
        }
    }

    .header{
        &__logo{
            p{
            display: none;
            }
        }
    }
}
